{% extends 'skeleton.html.twig' %}

{% block title %}One Article{% endblock %}

{% block update_delete %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Update</button>
{{ form_end(form) }}

<a class="btn btn-danger" href="{{path('remove_article', {id:article.id})}}">Delete</a>
{% endblock update_delete %}
