{% extends "skeleton.html.twig" %} {% block article %}
<section>
  {% for article in tab_articles %}
  <a href="{{path('article', {id:article.id})}}"><article>

        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
          <div class="card-header">{{article.title}}</div>
          <div class="card-body">
            <h4 class="card-title">{{article.resume}}</h4>
            <p class="card-text">{{article.content}}</p>
          </div>
        </div>
   
  </article></a>
  {# fin for #} {% endfor %}
</section>
{% endblock article %}