{% extends "skeleton.html.twig" %}

{% block h2 %}
<center><h2>Add an article</h2></center>
{% endblock h2 %}


{% block add %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Add</button>
{{ form_end(form) }}

{% endblock add %}