{% extends "skeleton.html.twig" %}

{% block article %}
<article>
    <h2>{{article.title}}</h2>

    <p>{{article.content}}</p>

    <a href="{{path('update_delete', {id:article.id})}}">Update/Delete</a>
  </article>

{% endblock article %}
