{% extends "accueil.html.twig" %}

{% block inscriptonpopup %}
    <form action="Inscription.php" method="post" 
    onsubmit="window.open('','popup','width=700,height=400,left=200,top=200,scrollbars=1')">
    <input type"text" name="pseudo" placeholder="Pseudo"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="password" name="confirmation password" placeholder="Confirm Password"/>
    <input type="email" name="email" placeholder="Email"/>
    </form>
{% endblock inscriptionpopup %}