{% extends 'skeleton.html.twig' %}

{% block title %}One Article{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Submit</button>
{{ form_end(form) }}

{% endblock %}